<table style="width: 100px;">
<tr><th class='table_header'><%= @name %></th></tr>
<tr><th>HP:</th><td><%= @hp %></td></tr>
<tr><th>D4:</th><td><%= @d4 %></td></tr>
<tr><th>D8:</th><td><%= @d8 %></td></tr>

<tr><th>D12:</th><td><%= @d12 %></td></tr>
<tr><th>D6:</th><td><%= @d6 %></td></tr>
<tr><th>D10:</th><td><%= @d10 %></td></tr>
</table>
